
<ion-view title="Inicio" id="page1">

    <ion-content padding="false" class="has-header entrada">

        <div class="caja_inicio">

            <div class="logo_home"></div>


            <a ui-sref="menu.01">
                <div class="caja_algo">

                    <h1>1</h1>
                    <p>Inicio insulinización</p>

                </div>
            </a>
            <a ui-sref="menu.02">
                <div class="caja_algo">

                    <h1>2</h1>
                    <p>Ajuste insulina basal</p>

                </div>
            </a>
            <a ui-sref="menu.03-02">
                <div class="caja_algo">

                    <h1>3</h1>
                    <p>Intensificación insulinización basal</p>

                </div>
            </a>
            <a ui-sref="menu.04">
                <div class="caja_algo">

                    <h1>4</h1>
                    <p>Situaciones especiales</p>

                </div>
            </a>
            <a ui-sref="menu.05">
                <div class="caja_algo">

                    <h1>5</h1>
                    <p>Pautas con insulina prandial</p>

                </div>
            </a>
            <a ui-sref="menu.06">
                <div class="caja_algo">

                    <h1>6</h1>
                    <p>Pautas con premezclas</p>

                </div>
            </a>
            <a ui-sref="menu.07">
                <div class="caja_algo">

                    <h1>7</h1>
                    <p>Hiperglucemia corticoidea</p>

                </div>
            </a>
            <div class="clear"></div>

        </div>

    </ion-content>


</ion-view>
<div class="bar bar-footer" style="height: 80px; border: none;">
    <div class="pie">
        <div style="float: left; margin-left: 50px;"><img src="https://insutool.prod.euromedice.net/img/logo_RED.png"  height="60"></div>
        <div style="float: right; margin-right: 50px;"><img src="https://insutool.prod.euromedice.net/img/logo_NOVO.png" height="60"></div>
    </div>
</div>