<ion-view title="Presentación" id="presentacion">

    <ion-content padding="false" class="has-header entrada">
        <div  style="margin: 0px; margin-top: 70px;">

            <ion-item id="menu-list-item3 " ui-sref="menu.prologo"  class="item-icon-right menu-list-item3">Prólogo <i class="icon ion-ios-arrow-right"></i></ion-item>
            <ion-item id="menu-list-item3 " ui-sref="menu.informacion" class=" item-icon-right menu-list-item3">Información <i class="icon ion-ios-arrow-right"></i></ion-item>
            <ion-item id="menu-list-item3 " ui-sref="menu.disclaimer" class=" item-icon-right menu-list-item3">Descargo de responsabilidad <i class="icon ion-ios-arrow-right"></i></ion-item>
            <ion-item id="menu-list-item3 " ui-sref="menu.bibliografia" class=" item-icon-right menu-list-item3">Bibliografía <i class="icon ion-ios-arrow-right"></i></ion-item>
            
        </div>
    </ion-content>
    
</ion-view>