

<ion-view title="Acerca de ICapp" id="page7">

    <div class="bar bar-subheader cal-4">
        <h2 class="title negro">Bibiografía IC crónica</h2>
    </div>

    <ion-content padding="false" class="has-header" >
        <div class="spacer" style="width: 300px; height: 40px;"></div>

        <div style="padding: 20px;" class="bibliografia">
            <ol>
                <li>Ponikowski P, Voors AA, Anker SD, Bueno H, Cleland JG, Coats AJ, et al. 2016 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: The Task Force for the diagnosis and treatment of acute and chronic heart failure of the European Society of Cardiology (ESC) Developed with the special contribution of the Heart Failure Association (HFA) of the ESC. Eur Heart J. 2016 May 20. pii: ehw128. [Epub ahead of print].</li>
                <li>Yancy CW; Jessup M; Bozkurt B; Butler J, Casey, DE Jr, Drazner MH; et al. 2013 ACCF/AHA Guideline for the Management of Heart Failure. J Am Coll Cardiol. 2013;62:e147<strong>-</strong>239.</li>
                <li>McMurray JJ, Packer M, Desai AS, Gong J, Lefkowitz MP, Rizkala AR, et al. Angiotensin-neprilysin inhibition versus enalapril in heart failure. N Engl J Med. 2014;371:993-1004. </li>
                <li>Senni M, McMurray JJ, Wachter R, McIntyre HF, Reyes A, Majercak I, et al. Initiating sacubitril/valsartan (LCZ696) in heart failure: results of TITRATION, a double-blind, randomized comparison of two uptitration regimens. Eur J Heart Fail. 2016 May 12. doi: 10.1002/ejhf.548. [Epub ahead of print]. </li>
                <li>Howlett JG, Chan M, Ezekowitz JA, Harkness K, Heckman GA, Kouz S et al. The Canadian Cardiovascular Society Heart Failure Companion: bridging guidelines to your practice. Can J Cardiol 2016;32:296-310. </li>
                <li>Yancy CW, Jessup M, Bozkurt B,  Butler J, Casey DE, Colvin MM et al. ACC/AHA/HFSA focused update on new pharmacological therapy for heart therapy: an update of the 2013 ACCF/AHA guideline for the management of heart failure. J Am Coll Cardiol 2016. PII: S0735-1097(16)33024-8. DOI:10.1016/j.jacc.2016.05.011. </li>
            </ol>
        </div>

        <div class="spacer" style="width: 300px; height: 20px;"></div>

    </ion-content>


</ion-view>
