

<ion-view title="Acerca de ICapp" id="page7">

    <div class="bar bar-subheader cal-4">
        <h2 class="title negro">Bibiografía IC aguda</h2>
    </div>

    <ion-content padding="false" class="has-header" >
        <div class="spacer" style="width: 300px; height: 40px;"></div>

        <div style="padding: 20px;" class="bibliografia">
            <ol>
                <li>Ponikowski P, Voors AA, Anker SD, Bueno H, Cleland JG, Coats AJ, et al. 2016 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: The Task Force for the diagnosis and treatment of acute and chronic heart failure of the European Society of Cardiology (ESC) Developed with the special contribution of the Heart Failure Association (HFA) of the ESC. Eur Heart J. 2016 May 20. pii: ehw128. [Epub ahead of print],</li>
                <li>Yancy CW; Jessup M; Bozkurt B; Butler J, Casey, DE Jr, Drazner MH; et al. 2013 ACCF/AHA Guideline for the Management of Heart Failure. J Am Coll Cardiol. 2013;62:e147<strong>-</strong>239. </li>
                <li>Roberts E, Ludman AJ, Dworzynski K, Al-Mohammad A, Cowie MR, McMurray JJ, Mant J; NICE Guideline Development Group for Acute Heart Failure. The diagnostic accuracy of the natriuretic peptides in heart failure: systematic review and diagnostic meta-analysis in the acute care setting. BMJ. 2015 Mar 4;350:h910. doi: 10.1136/bmj.h910. Review. </li>
                <li>Dworzynski K, Roberts E, Ludman A, Mant J; Guideline Development Group of the  National Institute for Health and Care Excellence. Diagnosing and managing acute  heart failure in adults: summary of NICE guidance. BMJ. 2014 Oct 8;349:g5695. doi: 10.1136/bmj.g5695.</li>
                <li>A. Mebazaa H. Tolppanen C. Mueller J. Lassus S. DiSomma G. Baksyte et al. Acute  heart failure and cardiogenic shock: a multidisciplinary practical guidance. Intensive Care Med (2016) 42:147-63.</li>
                <li>Christian Mueller, Michael Christ, Martin Cowie,Louise Cullen, Alan S. Maisel, Josep Masip et al. European Society of Cardiology- Acute Cardiovascular Care Association Position paper on acute heart failure: A call for interdisciplinary care. Eur Heart J Acute Cardiovasc Care. 2015 Jun 29. pii: 2048872615593279. [Epub ahead of print] Review. PubMed PMID: 26124458.</li>
                <li>Mebazaa A, Yilmaz MB, Levy P, Ponikowski P, Peacock WF, Laribi S, et al.   Recommendations on pre-hospital &amp; early hospital management of acute heart failure: a consensus paper from the Heart Failure Association of the European Society of Cardiology, the European Society of Emergency Medicine and the Society of Academic Emergency Medicine. Eur J Heart Fail. 2015;17: 544-58.</li>
                <li>Plácido R, Mebazaa A. Update: Acute Heart Failure (VII): Nonpharmacological Management of Acute Heart Failure. Rev Esp Cardiol (Engl Ed). 2015 Sep;68(9):794-802. </li>
                <li>Cecconi M, De Backer D, Antonelli M, Beale R, Bakker J, Hofer C, et al. Consensus on circulatory shock and hemodynamic monitoring. Task force of the European Society of Intensive Care Medicine. Intensive Care Med. 2014 Dec;40(12):1795-815. </li>
                <li>Cohen-Solal A, Laribi S, Ishihara S, Vergaro G, Baudet M, Logeart D, et al. Prognostic markers of acute decompensated heart failure: the emerging roles of cardiac biomarkers and prognostic scores. Arch Cardiovasc Dis. 2015 Jan;108(1):64-74.</li>
                <li>Lancellotti P, Price S, Edvardsen T, et al. The use of echocardiography in acute cardiovascular care: Recommendations of the European Association of Cardiovascular Imaging and the Acute Cardiovascular Care Association. Eur Heart J Acute Cardiovasc Care 2015; 4:3-5.</li>
                <li>Larry A. Allen, Lynne W. Stevenson, Kathleen L. Grady, Nathan E. Goldstein, Daniel D. Matlock, Robert M. Arnold. Heart AssociationDecision Making in Advanced Heart Failure: A Scientific Statement From the American. Circulation. 2012;125:1928-1952.</li>
                <li>Metra M, Ponikowski P, Dickstein K, McMurray JJ, Gavazzi A, Bergh CH et al. Advanced chronic heart failure: a position statement from the Study Group on Advanced Heart Failure of the Heart Failure Association of the European Society of Cardiology. Eur J Heart Fail. 2007;9:684-94.</li>
                <li>Francis GS, Greenberg BH, Hsu DT, Jaski BE, Jessup M, LeWinter MM et al. ACCF/AHA/ACP/HFSA/ISHLT 2010 clinical competence statement on management of patients with advanced heart failure and cardiac transplant: a report of the ACCF/AHA/ACP Task Force on Clinical Competence and Training. J Am Coll Cardiol.2010;56:424-53.</li>
                <li>Crespo Leiro MG, Almenar Bonet L, Alonso-Pulpón L, Campreciós M, Cuenca Castillo JJ, de la Fuente Galván L, et al. Conferencia de Consenso de los Grupos Españoles de Trasplante Cardiaco. Rev Esp Cardiol 2007;7(supl.B):4-54.</li>
                <li>Aaronson KD, Schwartz JS, Chen TM, et al. Development and prospective validation of a clinical index to predict survival in ambulatory patients referred for cardiac transplant evaluation. Circulation. 1997; 95: 2.660-7. </li>
            </ol>
        </div>

        <div class="spacer" style="width: 300px; height: 20px;"></div>

    </ion-content>


</ion-view>
