

<ion-view title="Presentación" id="page7">

    <div class="bar bar-subheader cal-4">
        <h2 class="title negro">Descargo de responsabilidad</h2>
    </div>

    <ion-content padding="false" class="has-header" >
        <div class="spacer" style="width: 300px; height: 90px;"></div>

        <div style="padding: 20px; text-align: justify;" class="textos">
            
            <p>La información contenida en esta aplicación está dirigida exclusivamente a profesionales de la salud, facultados para prescribir y administrar medicamentos. 
                        <br><br>
                        La toma de decisiones debe basarse únicamente en el criterio del personal sanitario responsable. 
                        <br><br>
                        Los autores de esta página no se hacen responsables de las decisiones clínicas que realice el usuario. 
                        <br><br>
                        InsuTOOL es una aplicación diseñada para facilitar el manejo de la terapia insulínica creada por Fundación redGDPS.
                    </p>
            
        </div>

        <div class="spacer" style="width: 300px; height: 20px;"></div>

    </ion-content>


</ion-view>
