

<ion-view title="Presentación" id="page7">

    <div class="bar bar-subheader cal-4">
        <h2 class="title negro">Prólogo</h2>
    </div>

    <ion-content padding="false" class="has-header" >
        <div class="spacer" style="width: 300px; height: 90px;"></div>

        <div style="padding: 20px; text-align: justify;" class="textos">

            INSUTOOL es una aplicación dirigida a los médicos que tratan pacientes con diabetes. Concretamente, se trata de una herramienta diseñada para ayudar en el manejo de la prescripción de insulina, que aborda tanto el inicio de la insulinización como su ajuste e intensificación. Asimismo, también especifica distintas opciones a la insulina por si nos encontramos ante situaciones clínicas que justifican el uso de otros fármacos antidiabéticos diferentes, que son prioritarios por la patología que presenta el paciente.
            <br><br>
            En la actualidad disponemos de gran cantidad de opciones en el manejo de insulina en personas con diabetes tipo 2, 
            lo cual permite una elección individualizada dependiendo de las características de cada paciente. 
            Para tomar estas  decisiones en la práctica clínica diaria disponemos de poco tiempo y en ocasiones de poca experiencia, por lo que si pudiésemos disponer de alguna herramienta que nos guiase en este proceso el resultado sería mucho más sencillo. 
            De esta necesidad ha nacido InsuTOOL, que es una aplicación para dispositivos móviles que de una manera rápida y sencilla nos ayudará a elegir la pauta de tratamiento insulínico más recomendable en cada paciente y, además, nos guiará en el ajuste del tratamiento hasta conseguir el objetivo de control deseado.
            <br><br>
            InsuTOOL permite el manejo de insulina desde su inicio mediante una dosis de insulina basal hasta su intensificación mediante la adición de insulina rápida y/u otros antidiabéticos, la insulina premezclada o la terapia bolo-basal.
            <br><br>
            Por último, también nos ayudará en la elección de la terapia insulínica en aquellos pacientes que poseen condicionantes clínicos especiales que precisan un uso diferenciado, como pueden ser los tratados con corticoides, ancianos frágiles u obesos.
            <br><br>
            Solo nos queda animaros a que la descarguéis y la utilicéis en vuestro día a día. 
            <br><br>
            Recibid un cordial saludo desde el equipo desarrollador de InsuTOOL.
            <br><br>
            <i>Fundación redGDPS</i>


        </div>

        <div class="spacer" style="width: 300px; height: 20px;"></div>

    </ion-content>


</ion-view>
