<ion-modal-view id="modal-grande" class="color_fondo_modal" >


    <ion-header-bar class="bar bar-assertive">
        <h1 class="title">Consulta</h1>
        <button class="button button-icon icon-left ion-ios-close-outline button-primary" ng-click="closeModal()"></button>
    </ion-header-bar>

    <ion-content>

        <div class="spacer" style="width: 300px; height: 40px;"></div>
        
        <div class="card">
                
                <div class="item item-divider">
                    Situaciones especiales
                </div>
            <div class="item item-text-wrap" ng-if="resultado <= 1">
                    1. Enfermedad cardiovascular.<br>
                    2. Enfermedad renal crónica.<br>
                    3. Sobrepeso/obesidad.<br>
                    4. Paciente frágil.<br>
                    5. Paciente paliativo.<br>
                    6. Hiperglucemia corticoidea.
                </div>
            
                <div class="item item-text-wrap" ng-if="resultado > 1">
                    1. Paciente  paliativo.<br>
                    2. Paciente frágil.<br>
                    3. Enfermedad cardiovascular.<br>
                    4. Enfermedad renal crónica.<br>
                    5. Sobrepeso/obesidad.<br><br>
                    6. Hiperglucemia corticoidea.
                </div>

        </div>

        <div class="spacer" style="width: 300px; height: 20px;"></div>


    </ion-content>

</ion-modal-view>





