<ion-view title="7. Hiperglucemia corticoidea" id="page1"  >

    <ion-content padding="false" class="has-header fondo_contenido" ng-controller="testCtrl" data-ng-init="ConvertirCort()">

        <div class="caja_contenido">

            <div class="caja_algo">
                <h1>7</h1>
                <p>Hiperglucemia corticoidea</p>
            </div>

            <div class="card">
                <div class="item item-divider " style="text-align: center !important;">
                    Paciente insulinizado<br>Pauta bolo basal
                </div>

            </div>

            <div class="card alerta" ng-if="Sulfonilureas === true || Repaglinidina === true">

                <div class="item item-divider" style="text-align: center;">
                    ALERTA
                </div>
                <div class="item item-text-wrap">
                    + reducir 50 % o suspender: sulfonilureas, repaglinida.<BR>
                    + resto ADNI mantener.
                </div>

            </div>


            <div class="spacer" style="width: 300px; height: 0px;"></div>

            <div class="card" >
                <div class="item item-divider" style="text-align: center;">

                    DATOS

                </div>
                <div class="item item-divider" style="text-align: center;">

                    Peso del paciente 

                </div>
                <div class="item item-text-wrap" style="text-align: center;">

                    {{corti_peso}} kg

                </div>
                <div class="item item-divider" style="text-align: center;">

                    GLUCOCORTICOIDE

                </div>
                <div class="item item-text-wrap" style="text-align: center;">

                    <span ng-if='Prednisona === true'>Prednisona</span>
                    <span ng-if='Prednisolona === true'>Prednisolona</span>
                    <span ng-if='Metilprednisolona === true'>Metilprednisolona</span>
                    <span ng-if='Deflazacort === true'>Deflazacort</span>
                    <span ng-if='Fludocortisona === true'>Fludocortisona</span>
                    <span ng-if='Triamcinolona === true'>Triamcinolona</span>
                    <span ng-if='Betametasona === true'>Betametasona</span>
                    <span ng-if='Dexametasona === true'>Dexametasona</span>
                    <span ng-if='Triamcinolona_acetonico === true'>Triamcinolona acetónido</span>
                    <span ng-if='Metilprednisolona_acetato === true'>Metilprednisolona acetato</span>
                    <span ng-if='Parametasona === true'>Parametasona</span>

                    <br>({{tipo_accion}})

                </div>
                <div class="item item-divider" style="text-align: center;">

                    Dosis de glucocorticoide

                </div>
                <div class="item item-text-wrap" style="text-align: center;">

                    {{dosis_gluco}} mg

                </div>
                <div class="item item-divider" style="text-align: center;">

                    ¿Cuántas veces al día?

                </div>
                <div class="item item-text-wrap" style="text-align: center;">

                    {{al_dia_gluco}} al día

                </div>
                <div class="item item-divider" style="text-align: center;">

                    Fármaco/s ADNI

                </div>
                <div class="item item-text-wrap" style="text-align: center;">

                    <span ng-if='Metformina === true'>Metformina<br></span>
                    <span ng-if='Sulfonilureas === true'>Sulfonilureas<br></span>
                    <span ng-if='Repaglinidina === true'>Repaglinidina<br></span>
                    <span ng-if='IDPP4 === true'>iDPP4<br></span>
                    <span ng-if='aGLP1 === true'>aGLP1<br></span>
                    <span ng-if='iSGLT2 === true'>iSGLT2<br></span>
                    <span ng-if='Pioglitazona === true'>Pioglitazona<br></span>
                    <span ng-if='Acarbosa === true'>Acarbosa</span>

                </div>
                <div class="item item-divider" style="text-align: center;">

                    Pauta bolo basal del paciente

                </div>
                <div class="item item-text-wrap" style="text-align: center;">

                    Unidades de insulina basal: {{basal_unidades_desayuno}} UI<br>
                    En desayuno: {{bolo_unidades_desayuno}} UI<br>
                    En comida: {{bolo_unidades_comida}} UI<br>
                    En cena: {{bolo_unidades_cena}} UI


                </div>


            </div>


            <div class="card resultado">

                <div class="item item-divider" style="text-align: center;">
                    RESULTADO
                </div>
                <div class="item item-text-wrap">


                    <span ng-show="tipo_accion === 'acción intermedia'">Dosis insulina prednisona: {{total_prednisona}}</span>
                    <span ng-show="(tipo_accion === 'acción prolongada' || tipo_accion === 'administración intraarticular')">Dosis insulina dexametasona: {{total_prednisona}}</span>
                    <br>
                    Dosis insulina  (UI/kg/día): {{total_NPH_coma}}
                    <br><br>
                    <span ng-show="tipo_accion === 'acción intermedia' && al_dia_gluco === '1'">Añadir {{total_NPH_final}} UI como insulina prandial (20 % en desayuno, 40 % en comida, 40 % en cena).</span>
                    <span ng-show="tipo_accion === 'acción intermedia' && al_dia_gluco === '2'">Añadir {{total_NPH_final}} UI: 25 % de insulina basal y 75 % de insulina prandial (25 % en cada comida).</span>


                    <span ng-show="(tipo_accion === 'acción prolongada' || tipo_accion === 'administración intraarticular')">Añadir {{total_NPH_final}} UI: 25 % insulina basal y 75 % insulina prandial (25 % en cada comida).</span>
                    <br><br>
                    Resultado final:<br>

                    <div ng-show="tipo_accion === 'acción intermedia'  && al_dia_gluco === '1'">

                        - Insulina en desayuno: {{((total_NPH_final * 20/100) + (1 * bolo_unidades_desayuno)).toFixed(0)}} UI<br>
                        - Insulina en comida: {{((total_NPH_final * 40/100) + (1 * bolo_unidades_comida)).toFixed(0)}} UI <br>
                        - Insulina en cena: {{((total_NPH_final * 40/100) + (1 * bolo_unidades_cena)).toFixed(0)}} UI
                        
                    </div>
                    <div ng-show="tipo_accion === 'acción intermedia' && al_dia_gluco === '2'">
                        - Insulina basal: {{((total_NPH_final * 25/100) + (1 * basal_unidades_desayuno)).toFixed(0)}} UI<br>
                        
                        - Insulina en desayuno: {{((total_NPH_final * 25/100) + (1 * bolo_unidades_desayuno)).toFixed(0)}} UI<br>
                        - Insulina en comida: {{((total_NPH_final * 25/100) + (1 * bolo_unidades_comida)).toFixed(0)}} UI <br>
                        - Insulina en cena: {{((total_NPH_final * 25/100) + (1 * bolo_unidades_cena)).toFixed(0)}} UI
                        
                    </div>
                    <div ng-show="tipo_accion === 'acción prolongada' || tipo_accion === 'administración intraarticular'">
                        - Insulina basal: {{((total_NPH_final * 25/100) + (1 * basal_unidades_desayuno)).toFixed(0)}} UI<br>
                        
                        - Insulina en desayuno: {{((total_NPH_final * 25/100) + (1 * bolo_unidades_desayuno)).toFixed(0)}} UI<br>
                        - Insulina en comida: {{((total_NPH_final * 25/100) + (1 * bolo_unidades_comida)).toFixed(0)}} UI <br>
                        - Insulina en cena: {{((total_NPH_final * 25/100) + (1 * bolo_unidades_cena)).toFixed(0)}} UI
                        
                    </div>
                </div>

            </div>


            <div class="button-bar" style="padding: 10px;" ng-controller="usoCtrl">
                <a class="button button-balanced button2" ui-sref="menu.index" ng-click="uso('7', 'Insulinizado')">FIN</a>
            </div>


        </div>

    </ion-content>


</ion-view>
