
<ion-view title="6. Pautas con premezclas" id="page1"  >

    <ion-content padding="false" class="has-header fondo_contenido" ng-controller="testCtrl">

        <div class="caja_contenido">

            <div class="caja_algo">
                <h1>6</h1>
                <p>Pautas con premezclas<br><b>CAMBIAR</b></p>
            </div>


            <div class="spacer" style="width: 300px; height: 0px;"></div>

            <div class="card" >
                <div class="item item-divider" style="text-align: center">
                    Datos de cálculo
                </div>

                <div class="item item-text-wrap" ng-show="premezcla_25_75 === true">              
                    <b>Premezcla 25-75</b><br> 
                    Cantidad de insulina: <b>{{unidades_cambio_25_75}} UI</b><br>
                </div>
                <div class="item item-text-wrap" ng-show="premezcla_30_70 === true">              
                    <b>Premezcla 30-70</b><br> 
                    Cantidad de insulina: <b>{{unidades_cambio_30_70}} UI</b><br>
                </div>
                <div class="item item-text-wrap" ng-show="premezcla_50_50 === true">              
                    <b>Premezcla 50-50</b><br> 
                    Cantidad de insulina: <b>{{unidades_cambio_50_50}} UI</b><br>
                </div>

            </div>

            <div class="card resultado" >

                <div class="item item-divider" style="text-align: center">
                    Resultado inicial
                </div>
                
                <div class="item item-text-wrap" ng-if="premezcla_25_75 === true">
                    Premezcla 25-75:<br>
                    - Insulina basal: {{(resultado_basal_25_75).toFixed(0)}} UI<br>
                    - Insulina prandial: {{(resultado_prandial_25_75).toFixed(0)}} UI
                </div>

                <div class="item item-text-wrap" ng-if="premezcla_30_70 === true">
                    Premezcla 30-70:<br>
                    - Insulina basal: {{(resultado_basal_30_70).toFixed(0)}} UI<br>
                    - Insulina prandial: {{(resultado_prandial_30_70).toFixed(0)}} UI
                </div>

                <div class="item item-text-wrap" ng-if="premezcla_50_50 === true">
                    Premezcla 50-50:<br>
                    - Insulina basal: {{(resultado_basal_50_50).toFixed(0)}} UI<br>
                    - Insulina prandial: {{(resultado_prandial_50_50).toFixed(0)}} UI
                </div>

            </div>


            <!--  Insunina Basal   *********************** -->
            <div class="card">
                <div class="item item-divider" style="text-align: center;">

                    Seleccione una insulina basal

                </div>

                <ion-radio ng-repeat="item in Insulina_basalList"
                           ng-value="item.value"
                           ng-model="data16.Insulina_basalList_1" 
                           ng-change="updateStorage()"
                           class="lista"
                           name="insulina_basal">
                    {{ item.text}}
                </ion-radio>

            </div>
            
            <!--  Insunina Prandial   *********************** -->
            <div class="card" ng-if="cambio_inicio == 'insulina_basal_plus' || cambio_inicio == 'insulina_bolo_basal'">
                <div class="item item-divider" style="text-align: center;">

                    Seleccione una insulina prandial

                </div>

                <ion-radio ng-repeat="item in Insulina_prandialList"
                           ng-value="item.value"
                           ng-model="data17.Insulina_prandialList_1" 
                           ng-change="updateStorage()"
                           class="lista"
                           name="insulina_prandial">
                    {{ item.text}}
                </ion-radio>

            </div>
            
            <div class="card">

                <div class="item item-divider item-icon-left">
                    <i class="icon ion-ios-help-outline"></i> Descripción insulinas basales
                </div>
                <div class="item item-text-wrap">
                    <h4>
                        <b>Glargina U100 (<i>Lantus</i><sup>&reg;</sup>):</b> análogo de insulina de acción prolongada. Sin pico de acción. Duración de acción 20–24 horas.<br><br>
                        <b>Glargina biosimilar U100 (<i>Abasaglar</i><sup>&reg;</sup>):</b> biosimilar análogo de insulina glargina U100. Sin pico de acción. Duración de acción 20 – 24 horas.<br><br>
                        <b>Glargina U300 (<i>Toujeo</i><sup>&reg;</sup>):</b> análogo de insulina de acción prolongada. Sin pico de acción. Duración de acción 24-36 horas. Flexibilidad de administración de 3 horas antes o después de su hora habitual.<br><br>
                        <b>Degludec (<i>Tresiba</i><sup>&reg;</sup>):</b> análogo de insulina de acción prolongada. Sin pico de acción. Duración de acción superior a 40 horas. Flexibilidad de administración de 8 a 40 horas respecto dosis anterior.<br><br>
                    </h4>

                </div>

            </div>
            
            <div class="card" ng-if="cambio_inicio == 'insulina_basal_plus' || cambio_inicio == 'insulina_bolo_basal'">

                <div class="item item-divider" >
                    Tipos de insulinas rápidas
                </div>
                <div class="item item-text-wrap" >
                    Utilizar preferentemente análogo ultrarrápido (insulina aspart de acción rápida), por su mayor eficacia y flexibilidad de manejo.<br><br>
                    1.ª OPCIÓN: insulina aspart de acción rápida (FIASP<sup>&reg;</sup> 100 UI/ml).  Se administra desde 2 minutos antes de empezar a comer, con la posibilidad de administrarse hasta 20 minutos después del inicio de la comida.
                    <br><br>
                    2.ª OPCIÓN: aspart (NovoRapid<sup>&reg;</sup> 100 UI/ml), lispro (Humalog<sup>&reg;</sup> 100 o 200 UI/ml), glulisina (Apidra<sup>&reg;</sup> 100 UI/ml). Administrar 5-15 minutos antes del inicio de la comida.
                </div>

            </div>

            <div class="button-bar" style="padding: 10px;">
                <a class="button button-balanced button2" ui-sref="menu.06-03-cambiar">CONTINUAR</a>
            </div>




        </div>

    </ion-content>


</ion-view>